{% extends 'base_with_navigation.html' %}
{% block content %}
	<a href={% url 'project_message_page' project_id=project_id %}>To Project Message List</a>
	<div id="project">
		<h1 id="project_name">Project Name: {{project_name}}</h1>
	</div>
	<div id="project_manager_group">
		<h2>Manager Group:</h2>
		<ul>
		{% for manager, group_info_id in project_manager_group.items %}
			<li><a href={% url 'group_page' group_info_id=group_info_id %}>{{manager}}</a></li>	
		{% endfor %}
		</ul>
	</div>
	<div id="project_menber_group">
		<h2>Member Group:</h2>
		<ul>
		{% for manager, group_info_id in project_normal_group.items %}
			<li><a href={% url 'group_page' group_info_id=group_info_id %}>{{manager}}</a></li>	
		{% endfor %}
		</ul>
	</div>
	<div id="management">
		{% if is_manager_user %}
			<a href={% url 'project_management_page' project_id=project_id %}>Management</a>
		{% endif %}
	</div>
{% endblock %}
