.message
{
	min-height:50px;
	display: block;
	padding:1em;
	background-color:#F6F5FA;
	border-radius:7px;
	position:relative;
	margin-left:11.5%;
}

.brief_statement
{
	margin-left:11.5%;
	padding:5px 1.3em;
	font-size:0.9em;
	color:#627F8C;
	font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
}
.brief_statement a
{
	padding:0 2px;
	text-decoration:none;
}

.post_by
{
	position:relative;
}

.user_post_message
{
	margin:20px 5px;
}
	
.posted_message_widget_trigger
{
	color: #89B5C9;
	font-size: 0.85em;
	padding: 1%;
	position: absolute;
	right: 1%;
	text-decoration: none;
	top: 1%;
	font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
}

.user_img_in_message
{
	display:inline-block;
	padding:0;
	margin:0;
	width:10%;
	position:absolute;
	left:0;
	top:7px;
}

.user_img_in_message img
{
	border-radius:7px;
	width:100%;
	height:100%;
}


#message_container p.title
{
	text-align:center;
	margin:0;
	padding:0;
	font-weight:bold;
	font-size:18px;
	font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
}

#message_container p.description
{
	margin:5px;
	padding:0;
	font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
	font-size: 15px;
	line-height: 1.4;
	word-wrap: break-word;
}


#message_container div.files
{
	padding:10px 0;
	border-radius:20px;
	background-color:#EBEBEB;
	margin:10px 0;
	text-align:center;
}

span.centering_file
{
	display:inline-block;
	text-align:left;
}

p.download
{
	margin:0;
	padding:0;
	padding-left:6%;
	font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
	font-size: 13px;
}
span.file_name
{
	margin:0;
}

p.download a
{
	color:#BF8747;
	text-decoration:none;

}

div
{
	word-break:break-all;
}
