#project_file_list
{
	display:inline-block;
	width:57%;
}

#file_list
{
	margin-top:20px;
	padding:20px 0;
	border-radius:20px;
	background-color:#EBEBEB;
}

p.download
{
	text-align:center;
	margin:0;
}

p.download a
{
	color:#BF8747;
	text-decoration:none;

}
