
{% extends 'base_with_navigation.html' %}
{% block content %}
	<div id="show_file_list">
		<h2>Uploaded File</h2>
		{% if file_info_list %}
			{% for file_info_id, file_info_name in file_info_list.items %}
				<div id="file_info">
					<p>{{file_info_name}}</p>
					<a href={% url 'delete_file_from_message' project_id=project_id message_id=message_id file_info_id=file_info_id%}>Remove</a>
				</div>
			{% endfor %}

		{% else %}
			<h3>No Uploaded File</h3>
		{% endif %}

	</div>

	<div id="file_upload">
		<form enctype="multipart/form-data" method="post" action={% url 'create_message_page' project_id=project_id message_id=message_id%}>
			{% csrf_token %}
			{{file_upload_form.as_p}}
			{{perm_choice_form.as_p}}
			<input type="submit" name="file_upload_submit" value="Submit" />
		</form>	
	</div>
	<div id="post_message">
		<h2>Message Infomation</h2>
		<form method="post" action={# url '' #}>
			{% csrf_token %}
			{{post_message_form.as_p}}
			<input type="submit" name="post_message_submit" value="Submit" />
		</form>	
	</div>

{% endblock %}
