body
{
	background-color:#D7E5F7;
}
#navigation
{
	background-color:#3676D6;
	border-radius:12px;
}


#navigation ul
{
	list-style-type:none;
	margin:0;
	padding:0 16.5%;
} 

#navigation li
{
	display: inline-block;
	margin:0;
	width:11%;
	max-width:80px;
	min-width:70px;
}
#navigation a
{
	text-align:center;
	display:block;
	height: 45px;
	line-height: 45px;
	margin:0;
	text-decoration:none;
	font-weight:bold;
	color:#F2F6FA;
}
#navigation a:hover
{
	background-color:#3D6EB8;
}
