
{% extends 'base_with_navigation.html' %}
{% block content %}
	<div id="group_info">
		<h1 id="group_name">Group Name: {{group_name}}</h1>
		<h2 id="group_description">Description: {{group_description}}</h2>
	</div>
	<div id="group_manager">
		<h2>Manager List:</h2>
		<ul>
		{% for manager in group_manager %}
			<li>{{manager}}</li>	
		{% endfor %}
		</ul>
	</div>
	<div id="group_menber">
		<h2>Member List:</h2>
		<ul>
		{% for member in group_member %}
			<li>{{member}}</li>	
		{% endfor %}
		</ul>
	</div>
	<div id="management">
		{% if is_manager %}
			<a href={% url 'group_management_page' group_info_id=group_info_id %}>Management</a>
		{% endif %}
	</div>
{% endblock %}
